body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
#navbar {
    background-color: white;
    padding: 20px 40px;
    
}

.nav-list{
    list-style: none;
    justify-content: right;
    display: flex;
    gap: 30px;

}
.nav-list li a {
  text-decoration-line: none;
  color: black;
  font-weight: 500;
}
#link1 :hover {
    color: blue;
}
#link1 :active {
    color: green;
}
#link1 :visited {
    color: blueviolet;
}