body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
#home {
    position: absolute;
    margin-top: 10px;
    margin-left: 250px;
    text-decoration: none;
    font-weight: 500;
}
#home :hover {
    color: blue;
}
#home :visited {
    color: blueviolet;
}
#navbar {
    position: absolute;
    margin-left: 1000px;
    background-color: white;
    padding: 20px 10px;
    
}

.nav-list{
    list-style: none;
    justify-content: right;
    display: flex;
    gap: 30px;

}
.nav-list li a {
  text-decoration-line: none;
  color: black;
  font-weight: 500;
}
#link1 :hover {
    color: blue;
}
#link1 :active {
    color: red;
}
#link1 :visited {
    color: blueviolet;
}
#profile-pic {
    position: absolute;
    border-radius: 150px;
    width: 243px;
    height: 243px;
    margin-left: 800px;
}
.container {
    margin-left: 150px;
    padding-right: 228px;
}
#h1-id {
    font-size: 44px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 100px;
}
#p1 {
    font-weight: 400;
    font-size: 16px;
    margin-left: 100px;
    height: 66;
    width: 368px;
}
#resume {
    color: #edf7fa;
    border-style: none;
    margin-left: 100px;
    background-color: #FF6464;
}
ul, li {
    display: flex;
    flex-direction: row;
    gap: 80%;
}
#topp1, #topp2 {
    width: 50%;
    font-size: medium;
    height: 295px;
    width: 418px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px;
    text-align: justify;
}
.p2 {
    padding-right: 50px;
    margin-right: 50px;
}
.tbl {
    border-left: 2px solid grey;
    padding-left: 25px;
}
.tdi {
    padding-right: 25px;
}
.topview {
    margin-top: -100px;
}
#post {
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
}
#view {
    position: absolute;
    margin-top: -40px;
    margin-left: 900px;
}

.topp {
    display: flex;
    background-color: #edf7fa;
    margin-top: 100px;
    width: 1000px;
    padding: 100px;
    gap: 10px;
    margin-right: 300px;
}
.feat-img {
    width: 246px;
    height: 184px;
}
.feat-h2 {
   position: absolute;
   margin-top: -190px;
   margin-left: 300px;
}
.year {
    position: absolute;
    margin-top: 67px;
    margin-left: 51px;
    color: #edf7fa;
    background-color: #142850;
    border-radius: 16px;
}
.dash {
    position: absolute;
    margin-left: 350px;
    margin-top: -120px;
    color: #8695a4;
}
.feat-p {
    position: absolute;
    margin-left: 300px;
    margin-top: -80px;
    width: 420px;
}
.container2 {
    margin-left: 100px;
}
footer {
    margin-left: 300px;
    justify-content: center;
    position: absolute;
    height: 100px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
.socials {
    width: 40px;
    height: 45px;
    border-left: 50px;
    
}
.socials1 {
    width: 40px;
    height: 40px;
    border-left: 60px;
}
.socials2 {
    width: 30px;
    height: 30px;
    border-left: 60px;
}
.footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}